# This is a simple Desktop Entry file illustrating main concepts of the Desktop Entry with comments (this one!), default
# header and entries (numeric, strings and complex strings

[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=MimeType
Comment=This is a comment
