# A valid Desktop Entry must have at least one header: the Desktop Entry header
# this entry is invalid and must fail to load

Version=1.0
Encoding=UTF-8
Type=MimeType
Comment=This is a comment
